
html body {
	&.custom-background {
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
		background-size: cover;
	}
	&.home {
		#hero {
			.entry-header h1 {
				/*position: relative;*/
			}
		}
	}
	&.page-on-our-stage {
		#primary {
			margin-left: -40px;
			width: 960px;
			#content {
				margin-top: 30px;
			}
			header {
				h1 {
					color: #000000;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					background-color:  rgba(0, 0, 0, .30);

					width: 33%;
					padding: 10px 0 0;
					text-indent: 40px;		

				}
			}
		}
		.category {
			float: left;
			width: 100%;
			article {
				float: left;
				width: 231px;
				margin: 0 12px 10px 0;

				&:last-child {
					margin-right: 0;
				}
				img {
					width: 100%;
					border-radius: 0;
				}
				.entry-header {
					height: 40px;
					padding-top: 5px;
					margin-bottom: 0; 
					h2 {
						font-size: 14px;
						font-weight: bold;
						text-align: center;
					}
				}
				.button-list {
	/*				margin-left: auto;
					margin-right: auto;
					width: 158px;*/
				}
				.button {
/*					width: 63px;
					padding: 6px;
					display: inline-block;

					font-size: 11px;
					font-weight: bold;
					text-align: center;

					color: #FFFFFF;
					background-color: #000000;
					text-transform: uppercase;
					text-decoration: none;*/	

					&.learn-more{
						background-color: #000000;
					}		
				}
				footer.entry-meta {
					margin: -27px 0 0 4px;
				}
			
			}

		}
	}
	#hero {
		width: 960px;
		margin-right:	auto;
		margin-left:	auto;
		position: relative;


		.entry-header {
			clear: both;
			margin: 0;
			h1{
				width: 55%;
				padding: 1px 40px;

				background-color: $trans_grey;
				position: absolute;
				bottom: 0px;

				color: #ffffff;
				font-family: $ssp;
				font-weight: bold;
				text-transform: uppercase;
			}

		}
	}
	#main {
		width: 920px; /* EXTRA */
		font-family: $ssp;
		background-color: $trans_white;
		padding: 0 0 0 40px;
		position: relative;

		#spacer {
			height: 10px;
			background-color: rgba(0, 0, 0, .30);
		}
		#primary {
			margin-top: 0;
			#content {
				.entry-content{
					h2 {
						font-weight: bold;
					}
				}
			}
		}
		#secondary {
			margin-top: 0;
			&.widget-area {
				width: 34%;
			}
			aside {

				h3 {
					color: #000000;
					font-size: 18px;
					padding: 0px 10px;
					text-transform: uppercase;
					background-color:  rgba(0, 0, 0, .30);
				} 
			}
		}
	}
	.widget {
		&.upcoming-events {
			li {
				float: left;
				margin-bottom: 20px;
			}
			img {
				width: 120px;
				float: left;
			}
			.entry-header {
				width: 170px;
				float: left;
				margin: 0 10px;

				.entry-title {
					font-size: 17px;
					font-weight: normal;
					line-height: 0.9;
				}
				span {
					font-size: 14px;
					font-weight: bold;
					display: block;
				}
			}
			.button-list {
				float: left;
				margin: 2px 10px;
				line-height: 1;
				.button {
					color: #FFFFFF;
					&.learn-more {
						background-color: $atru_gold;
					}
				}
			}


		}
	}

	.button-list {
		margin-left: auto;
		margin-right: auto;
		width: 158px;
	
		.button {
			width: 63px;
			padding: 6px;
			display: inline-block;

			font-size: 11px;
			font-weight: bold;
			text-align: center;

			color: #FFFFFF;
			background-color: $atru_red;
			text-transform: uppercase;
			text-decoration: none;
		}
	}


	&.single-event {
		#hero {
			margin-top:30%;
		}
		#primary {
			.event-list li {
				color: #000;
				font-weight: bold;
				font-size: 18px;

				line-height: 1.4;
				a {
					width: 100px;
					float: right;
					display: inline;

					
					color: #FFFFFF;

					text-align: center;
					text-decoration: none;
					text-transform: uppercase;

					@include background-image(linear-gradient(top, rgba(198,9,16,0.87) 0%,rgba(198,9,16,0.87) 63%,rgba(150,10,12,0.87) 100%));
				}
			}
		}

	}

	#hero {
		.widget-banner {
			@media screen and (min-width: 600px) {
				width:	100%;
				margin-top: 6px;
				position: relative;
				background-color: $trans_white;
			}

			.widget {
				margin-left: 50px;
				&:first-child:nth-last-child(3) {
	    			width: 25%;
				}
				&:first-child:nth-last-child(3) {
					~ .widget {
	    				width: 25%;
	    			}
				}
				.more a {
					text-transform: none;
				}
			}
		}
	}

	#hero-banner {
			.widget_wrapper {
				width: 100%;
				padding: 0 2%;
			}
	
	}

	.widget-banner {

		/*
		 * version of banner in hero, is grouped with hero related styles.
		 */

		&.widget-area {
			margin: 0;
		}

		@media screen and (min-width: 600px) {
			float:left;
			width:	70%;
			position: absolute;
			bottom: 0;
		}
		.widget_wrapper {
			float: left;
			width: 80%;
			/*padding: 0 4%;*/
		}
		.widget {
			float: left;
			width: 31%;
			margin-left: 12px;
			position: relative;

			&:first-child:nth-last-child(1), {
    			width: 90%;
			}


			&:first-child:nth-last-child(2) {
    			width: 45%;
			}
			&:first-child:nth-last-child(2) {
				~ .widget {
    				width: 45%;
    			}
			}

			&:first-child:nth-last-child(3) {
    			width: 31%;
			}
			&:first-child:nth-last-child(3) {
				~ .widget {
    				width: 31%;
    			}
			}

			&:first-child:nth-last-child(4) {
    			width: 20%;
			}
			&:first-child:nth-last-child(4) {
				~ .widget {
    				width: 20%;
    			}
			}



			&.widget_simpleimage {
				.simple-image, .more {
					margin: 0;
				}
				.more{
					background-color: #000000;
					text-indent: 11px;
					line-height: 1.6;
					position: absolute;
					bottom: 0;
					width: 100%;

					a {
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
						color: #ffffff;
					}
				}
			}
		}
	}
}

