
html body {
	&.custom-background {
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
		background-size: cover;
	}
	#hero {
		width: 960px;
		margin-right:	auto;
		margin-left:	auto;
		position: relative;
		.entry-header {
			width: 65%;
			padding: 1px 40px;
			margin: 0;
			background-color: $trans_grey;

			position: absolute;
			bottom: 2px;

			h1 {
				color: #ffffff;
				font-family: $ssp;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	#main {
		width: 920px; /* EXTRA */
		font-family: $ssp;
		background-color: rgba(255, 255, 255, .87);
		padding: 0 0 0 40px;
		margin-top: -2px; /* THIS SHOULD NOT BE NECESSARY */
		position: relative;

		#spacer {
			height: 10px;
			background-color: rgba(0, 0, 0, .30);
		}
		#primary {
			margin-top: 0;
			#content {
				.entry-content{
					h2 {
						font-weight: bold;
					}
				}
			}
		}
		#secondary {
			margin-top: 0;
			aside {

				h3 {
					color: #000000;
					font-size: 18px;
					padding: 0px 10px;
					text-transform: uppercase;
					background-color:  rgba(0, 0, 0, .30);


				}
			}
		}
	}



	&.page-template-template-performance-php {
		#hero {
			margin-top:30%;
		}

	}

	#footer-banner {


		&.widget-area {
			margin: 0;
		}
		@media screen and (min-width: 600px) {
			float:left;
			width:	70%;
			position: absolute;
			bottom: 0;
		}
		.widget_wrapper {
			float: left;
			width: 90%;
			padding: 0 4%;
		}
		.widget {
			float: left;
			width: 31%;
			margin-left: 12px;
			position: relative;

			&.widget_simpleimage {
				.simple-image, .more {
					margin: 0;
				}
				.more{
					background-color: #000000;
					text-indent: 11px;
					line-height: 1.6;
					position: absolute;
					bottom: 0;
					width: 100%;

					a {
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
						color: #ffffff;
					}
				}
			}
		}
	}
}

