


footer[role="contentinfo"] {
	width: 960px;
	color:#fff;
	border: none;
	margin-top: 0;
	padding-bottom: 0;

	background: rgb(109,109,109); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,109,109,.9) 0%, rgba(155,155,155,.9) 37%, rgba(178,178,178,.9) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,109,109,.9)), color-stop(37%,rgba(155,155,155,.9)), color-stop(99%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,109,109,.9) 0%,rgba(155,155,155,.9) 37%,rgba(178,178,178,.9) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,109,109,.9) 0%,rgba(155,155,155,.9) 37%,rgba(178,178,178,.9) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,109,109,.9) 0%,rgba(155,155,155,.9) 37%,rgba(178,178,178,.9) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,109,109,.9) 0%,rgba(155,155,155,.9) 37%,rgba(178,178,178,.9) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6d6d', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */


	#copyright {
		font-size: 10px;
		padding: 7px 0;
	}

	#footer-padding {
		width: 960px;
		background-color: #DAA520;
		margin-left: auto;
		margin-right: auto;
		height: 12px;
	}

	.menu-footer-nav-container {
		min-height: 100px;
		margin-bottom: 10px;

		#menu-footer-nav {
			a {
				color: #ffffff;
				font-size: 11px;
				text-decoration: initial;
			}
			a:hover {
					text-decoration: underline;
					color: #ffffff;
			}

			.menu-item {
				float: left;
				margin-right: 20px;
				height: 19px;
			}
			.menu-item-has-children > a {
				font-weight: bold;
				font-size: 13px;
			}
			.sub-menu {
				margin-top: -5px;
			 	.menu-item {
					float: none;
				}
			}
		}
	}


}


 



