
footer[role="contentinfo"] {
	width: 960px;
	color:#fff;
	border: none;
	margin-top: 0;
	padding-bottom: 0;

	/*@include filter-gradient(#cc4f4f4f, #cc7e7e7e, vertical); //IE6-9 */
	@include background-image(linear-gradient(top,  rgba(79,79,79,0.87) 0%,rgba(126,126,126,0.87) 37%,rgba(126,126,126,0.87) 99%,rgba(126,126,126,0.87) 100%));

	#copyright {
		clear: both;
		font-size: 10px;
		padding: 10px 0 7px;
	}

	#footer-padding {
		width: 960px;
		background-color: #DAA520;
		margin-left: auto;
		margin-right: auto;
		height: 12px;
	}

	.menu-footer-nav-container {
		/*float: left;*/
		font-size: 11px;
		font-family: $ssp;
		min-height: 100px;
		margin-bottom: 10px;

		#footer-navigation {

			&> .menu-item > a {
				font-weight: bold;
				font-size: 13px;
			}

			a {
				color: #ffffff;
				text-decoration: initial;
				&:hover {
					text-decoration: underline;
					color: #ffffff;
				}
			}

			.menu-item {
				float: left;
				margin-right: 20px;
				line-height: 19px;

			}
			.sub-menu {
				/*margin-top: -5px;*/
			 	.menu-item {
					float: none;
				}
			}
		}
	}
	.menu-footer-social-media {
		display: inline-block;


		#footer-social-media {
			width: 150px;
		}


		.menu-item {
			width: 25px;
			height: 25px;
			margin-left: 12px;
			float: left;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			&:nth-child(1) {
				background-image: url("../images/footer-behance_logo.png");
			}
			&:nth-child(2) {
				background-image: url("../images/footer-facebook_logo.png");
			}
			&:nth-child(3) {
				background-image: url("../images/footer-twitter_logo.png");
			}
			&:nth-child(4) {
				background-image: url("../images/footer-youtube_logo.png");
			}
		}


	}
}

#social-media-label {
	/*float: left;*/
	position:absolute;
	top: 40px;
	right: 0;
	margin: auto;
}

#footer-padding {
	width: 960px;
	background-color: $atru_gold;
	margin-left: auto;
	margin-right: auto;
	height: 12px;
}


 



