header.site-header{
	background-color: #fff;
	padding: 0;

	.header-image {
		color: #ffffff;
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		float: left;
	}


	.main-navigation {
		margin-top: 0;

		.nav-menu {
			position: relative;

		}
		ul {
			li {
				&.current-menu-item > a,
				&.current-page-ancestor > a,
				&.current_page_ancestor > a {
					color: $atru_gold;
				}
				/* Is overridden by 2012's media queries. Actual defitition is in _general.scss */
				a:hover {
					color: $atru_gold;
				}

				a {
					font-size: 12px;
					font-family: $ssp;
					font-weight: bold;
				}
			}
		}

		.nav-menu {
			background-color: #000;
			margin-bottom: 22px;

			> li {
				position: static;
				margin: 0 0 0 20px;

				> a {
					color: #ffffff;
					line-height: 2.1;

				}
				&.current-menu-item,
				&.current-page-ancestor,
				&.current_page_ancestor {
					.sub-menu{
						display: block;
						z-index: 5;
					}
				}

			}
		}


		.sub-menu, {
			width: 100%;
			background-color: #fff;
			position: absolute;
			left: 0;
			z-index: 10;
			li {
				margin-right: 10px;
			}
			a {
				background-color: #fff;
				line-height: 1;
				padding: 4px;
				width: auto;
				color: #000;
			}
		}


		#nav-search {
			float: right;
			margin: 0 15px 0;

			form {
				width: 200px;
				height: 8px;

				input {
					float: left;
					border-radius: 0;
					&.search-field {
						height: 18px;
						margin: 3px 0;
						width: 70%;
						padding: 0;
					}
					&.search-submit {
						color: #FFF;
						background: #000;
						padding: 0;
						width: 25px;
						height: 18px;
						margin-top: 3px;
						margin-left: 4px;
						line-height: 0.5;



					}
				}
			}
		}


	}

	#header-spacer {
		background-color: #000;
		height: 10px;
	}

	#header-right-rail {
		float:right;
		width: 120px;
		a {	
			padding: 5px 0px;
	
			position: relative;
			display: block;

			color: #ffffff;
			font-size: 15px;
			font-family: $ssp;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;

			&:hover{
				color:#000000;
				cursor: pointer;
			}
		}

		.donate {
			height: 25px;
			margin-bottom: 12px;
			background: #fa911a; /* Old browsers */

			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhOTExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZhOTExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODZiMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #fa911a 0%, #fa911a 50%, #d86b17 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa911a), color-stop(50%,#fa911a), color-stop(100%,#d86b17)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #fa911a 0%,#fa911a 50%,#d86b17 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #fa911a 0%,#fa911a 50%,#d86b17 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #fa911a 0%,#fa911a 50%,#d86b17 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #fa911a 0%,#fa911a 50%,#d86b17 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa911a', endColorstr='#d86b17',GradientType=0 ); /* IE6-8 */
		}

		.buy-tickets a {
			margin-bottom: 12px;
			background: #c60910; /* Old browsers */

			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NjBhMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #c60910 0%, #c60910 63%, #960a0c 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60910), color-stop(63%,#c60910), color-stop(100%,#960a0c)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #c60910 0%,#c60910 63%,#960a0c 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #c60910 0%,#c60910 63%,#960a0c 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #c60910 0%,#c60910 63%,#960a0c 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #c60910 0%,#c60910 63%,#960a0c 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60910', endColorstr='#960a0c',GradientType=0 ); /* IE6-8 */
			height: 50px;

			.button-text {
				position: absolute;
				bottom: 11px;
				width: 100%;
				left: 0;
			}
		}
	}

}


