@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 960px) {
  /* line 7, ../sass/components/_general.scss */
  body #main,
  header.site-header > *,
  footer .site-info {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 14, ../sass/components/_general.scss */
  footer .site-info {
    position: relative;
  }

  /* line 17, ../sass/components/_general.scss */
  header.site-header > * {
    width: 960px;
  }
}
@media screen and (min-width: 600px) {
  /* line 24, ../sass/components/_general.scss */
  div.site {
    max-width: 100%;
  }

  /* line 28, ../sass/components/_general.scss */
  .site-content {
    float: left;
    width: 66%;
  }

  /*	.main-navigation {
  		li a:hover {
  			color:$atru_gold;
  		}
  	}*/
  /* line 37, ../sass/components/_general.scss */
  body.template-front-page .site-content, body.single-attachment .site-content {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 42, ../sass/components/_general.scss */
  html body.custom-background {
    background-position: center 100px;
    background-size: 100%;
    background-attachment: scroll;
  }
}
/* line 54, ../sass/components/_general.scss */
.ie9 .buy-tickets,
.ie9 .donate {
  filter: none;
}

/* line 59, ../sass/components/_general.scss */
body .site {
  background-color: transparent;
  margin-top: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
}

/* line 69, ../sass/components/_general.scss */
div.entry-content img {
  border-radius: 0;
  box-shadow: none;
}

/* line 1, ../sass/components/_header.scss */
header.site-header {
  background-color: #fff;
  padding: 0;
}
/* line 5, ../sass/components/_header.scss */
header.site-header .header-image {
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  float: left;
}
/* line 14, ../sass/components/_header.scss */
header.site-header .main-navigation {
  margin-top: 0;
}
/* line 17, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu {
  position: relative;
}
/* line 22, ../sass/components/_header.scss */
header.site-header .main-navigation ul li {
  /* Is overridden by 2012's media queries. Actual defitition is in _general.scss */
}
/* line 25, ../sass/components/_header.scss */
header.site-header .main-navigation ul li.current-menu-item > a, header.site-header .main-navigation ul li.current-page-ancestor > a, header.site-header .main-navigation ul li.current_page_ancestor > a {
  color: #faa61a;
}
/* line 29, ../sass/components/_header.scss */
header.site-header .main-navigation ul li a:hover {
  color: #faa61a;
}
/* line 33, ../sass/components/_header.scss */
header.site-header .main-navigation ul li a {
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
/* line 41, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu {
  background-color: #000;
  margin-bottom: 22px;
}
/* line 45, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li {
  position: static;
  margin: 0 0 0 20px;
}
/* line 49, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li > a {
  color: #ffffff;
  line-height: 2.1;
}
/* line 57, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li.current-menu-item .sub-menu, header.site-header .main-navigation .nav-menu > li.current-page-ancestor .sub-menu, header.site-header .main-navigation .nav-menu > li.current_page_ancestor .sub-menu {
  display: block;
  z-index: 5;
}
/* line 67, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 10;
}
/* line 73, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu li {
  margin-right: 10px;
}
/* line 76, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu a {
  background-color: #fff;
  line-height: 1;
  padding: 4px;
  width: auto;
  color: #000;
}
/* line 86, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search {
  float: right;
  margin: 0 15px 0;
}
/* line 90, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form {
  width: 200px;
  height: 8px;
}
/* line 94, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input {
  float: left;
  border-radius: 0;
}
/* line 97, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input.search-field {
  height: 18px;
  margin: 3px 0;
  width: 70%;
  padding: 0;
}
/* line 103, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input.search-submit {
  color: #FFF;
  background: #000;
  padding: 0;
  width: 25px;
  height: 18px;
  margin-top: 3px;
  margin-left: 4px;
  line-height: 0.5;
}
/* line 123, ../sass/components/_header.scss */
header.site-header #header-spacer {
  background-color: #000;
  height: 10px;
}
/* line 128, ../sass/components/_header.scss */
header.site-header #header-right-rail {
  float: right;
  width: 120px;
}
/* line 131, ../sass/components/_header.scss */
header.site-header #header-right-rail a {
  padding: 5px 0px;
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 145, ../sass/components/_header.scss */
header.site-header #header-right-rail a:hover {
  color: #000000;
  cursor: pointer;
}
/* line 151, ../sass/components/_header.scss */
header.site-header #header-right-rail .donate {
  height: 25px;
  margin-bottom: 12px;
  background: #fa911a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhOTExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZhOTExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkODZiMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fa911a 0%, #fa911a 50%, #d86b17 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fa911a), color-stop(50%, #fa911a), color-stop(100%, #d86b17));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fa911a 0%, #fa911a 50%, #d86b17 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fa911a 0%, #fa911a 50%, #d86b17 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fa911a 0%, #fa911a 50%, #d86b17 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fa911a 0%, #fa911a 50%, #d86b17 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa911a', endColorstr='#d86b17',GradientType=0 );
  /* IE6-8 */
}
/* line 167, ../sass/components/_header.scss */
header.site-header #header-right-rail .buy-tickets a {
  margin-bottom: 12px;
  background: #c60910;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NjBhMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c60910 0%, #c60910 63%, #960a0c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c60910), color-stop(63%, #c60910), color-stop(100%, #960a0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c60910 0%, #c60910 63%, #960a0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c60910 0%, #c60910 63%, #960a0c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c60910 0%, #c60910 63%, #960a0c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c60910 0%, #c60910 63%, #960a0c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c60910', endColorstr='#960a0c',GradientType=0 );
  /* IE6-8 */
  height: 50px;
}
/* line 182, ../sass/components/_header.scss */
header.site-header #header-right-rail .buy-tickets a .button-text {
  position: absolute;
  bottom: 11px;
  width: 100%;
  left: 0;
}

/* line 3, ../sass/components/_body.scss */
html body.custom-background {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
/* line 11, ../sass/components/_body.scss */
html body.home #hero .entry-header h1 {
  /*position: relative;*/
}
/* line 15, ../sass/components/_body.scss */
html body.home article {
  border-bottom: none;
}
/* line 20, ../sass/components/_body.scss */
html body.page-template-page-calendar-php #primary {
  margin-left: -20px;
  width: 960px;
}
/* line 27, ../sass/components/_body.scss */
html body.page-on-our-stage .button-list {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
/* line 33, ../sass/components/_body.scss */
html body.page-on-our-stage .breadcrumbs {
  margin-bottom: 15px;
  margin-left: 40px;
}
/* line 38, ../sass/components/_body.scss */
html body.page-on-our-stage #content {
  width: 100%;
}
/* line 42, ../sass/components/_body.scss */
html body.page-on-our-stage #primary {
  margin-left: -40px;
  width: 960px;
}
/* line 46, ../sass/components/_body.scss */
html body.page-on-our-stage #primary header h1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  width: 33%;
  padding: 10px 0 0;
  text-indent: 40px;
}
/* line 55, ../sass/components/_body.scss */
html body.page-on-our-stage #primary header h1 a {
  color: #000000;
}
/* line 62, ../sass/components/_body.scss */
html body.page-on-our-stage .category {
  float: left;
  width: 100%;
}
/* line 65, ../sass/components/_body.scss */
html body.page-on-our-stage .category article {
  float: left;
  width: 231px;
  margin: 0 12px 10px 0;
}
/* line 70, ../sass/components/_body.scss */
html body.page-on-our-stage .category article:last-child {
  margin-right: 0;
}
/* line 73, ../sass/components/_body.scss */
html body.page-on-our-stage .category article img {
  min-width: 231px;
  max-height: 160px;
  border-radius: 0;
}
/* line 78, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .entry-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 84, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .entry-header,
html body.page-on-our-stage .category article .artist-name,
html body.page-on-our-stage .category article .entry-header .entry-title {
  line-height: 1;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
}
/* line 90, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .entry-header .artist-name,
html body.page-on-our-stage .category article .artist-name .artist-name,
html body.page-on-our-stage .category article .entry-header .entry-title .artist-name {
  font-weight: bold;
}
/* line 95, ../sass/components/_body.scss */
html body.page-on-our-stage .category article footer.entry-meta {
  margin: -27px 0 0 4px;
}
/* line 104, ../sass/components/_body.scss */
html body #hero {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* line 111, ../sass/components/_body.scss */
html body #hero #spacer {
  height: 32px;
}
/* line 115, ../sass/components/_body.scss */
html body #hero .FA_overall_container_smoke {
  border: none;
}
/* line 118, ../sass/components/_body.scss */
html body #hero .FA_article {
  background-position: center center;
  background-size: cover;
}
/* line 123, ../sass/components/_body.scss */
html body #hero .entry-header {
  clear: both;
  margin: 0;
}
/* line 126, ../sass/components/_body.scss */
html body #hero .entry-header h1 {
  width: 66%;
  padding: 1px 40px;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  /* line 143, ../sass/components/_body.scss */
  html body #hero .widget-banner {
    width: 100%;
    margin-top: 6px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
  }
}
/* line 151, ../sass/components/_body.scss */
html body #hero .widget-banner .widget {
  margin-left: 50px;
}
/* line 153, ../sass/components/_body.scss */
html body #hero .widget-banner .widget:first-child:nth-last-child(3) {
  width: 25%;
}
/* line 157, ../sass/components/_body.scss */
html body #hero .widget-banner .widget:first-child:nth-last-child(3) ~ .widget {
  width: 25%;
}
/* line 161, ../sass/components/_body.scss */
html body #hero .widget-banner .widget .more a {
  text-transform: none;
}
/* line 166, ../sass/components/_body.scss */
html body #hero > img {
  vertical-align: bottom;
  width: 100%;
  box-shadow: none;
}
/* line 175, ../sass/components/_body.scss */
html body #hero-banner .widget_wrapper {
  width: 100%;
  padding: 0 2%;
}
/* line 182, ../sass/components/_body.scss */
html body #main {
  width: 920px;
  /* EXTRA */
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 0 0 40px;
  position: relative;
}
/* line 189, ../sass/components/_body.scss */
html body #main #spacer {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 193, ../sass/components/_body.scss */
html body #main #hero #spacer {
  height: 32px;
  background: none;
}
/* line 197, ../sass/components/_body.scss */
html body #main #primary {
  margin-top: 0;
}
/* line 201, ../sass/components/_body.scss */
html body #main #primary #content {
  padding-right: 40px;
  padding-top: 15px;
}
/* line 206, ../sass/components/_body.scss */
html body #main #primary article {
  margin-bottom: auto;
  margin-bottom: 20px;
  padding-bottom: 0;
}
/* line 212, ../sass/components/_body.scss */
html body #main #primary p {
  line-height: 1.35;
  margin-bottom: 20px;
  /* #162 */
}
/* line 218, ../sass/components/_body.scss */
html body #main #primary strong {
  font-weight: bold;
}
/* line 221, ../sass/components/_body.scss */
html body #main #primary em {
  font-style: italic;
}
/* line 226, ../sass/components/_body.scss */
html body #main #primary .entry-content h2 {
  font-weight: bold;
  font-size: 23px;
  padding-top: 0;
  /*margin-top: 0;*/
  margin-bottom: 20px;
}
/* line 234, ../sass/components/_body.scss */
html body #main #primary .entry-meta {
  margin-top: 0;
}
/* line 237, ../sass/components/_body.scss */
html body #main #primary #calendar {
  margin-top: 30px;
  background-color: #ffffff;
  color: #000000;
}
/* line 241, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-header {
  margin-bottom: 0;
}
/* line 244, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-day-header {
  text-transform: none;
  color: #000000;
}
/* line 248, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-day {
  color: #000000;
}
/* line 252, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-header-left {
  padding-top: 15px;
  padding-left: 20px;
}
/* line 255, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-header-left .fc-button {
  margin-bottom: 0.7em;
}
/* line 259, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-header-center h2 {
  font-size: 35px;
  color: #c9252c;
  margin-bottom: 0;
}
/* line 264, ../sass/components/_body.scss */
html body #main #primary #calendar .tcmsEventTitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
/* line 273, ../sass/components/_body.scss */
html body #main #primary #calendar .tcmsMoreinfoUrl:hover,
html body #main #primary #calendar .tcmsMoreinfoUrl,
html body #main #primary #calendar .tcmsBuyTix:hover,
html body #main #primary #calendar .tcmsBuyTix {
  width: 65px;
  padding: 6px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-top: none;
  text-shadow: initial;
}
/* line 290, ../sass/components/_body.scss */
html body #main #primary #calendar .tcmsMoreinfoUrl:hover,
html body #main #primary #calendar .tcmsMoreinfoUrl {
  background: #000000;
}
/* line 294, ../sass/components/_body.scss */
html body #main #primary #calendar .tcmsBuyTix:hover,
html body #main #primary #calendar .tcmsBuyTix {
  background: #c9252c;
  background-image: inherit;
}
/* line 298, ../sass/components/_body.scss */
html body #main #primary #calendar .tcmsBuyTix:before {
  content: none;
}
/* line 301, ../sass/components/_body.scss */
html body #main #primary #calendar .fc-border-separate {
  margin: 0;
}
/* line 305, ../sass/components/_body.scss */
html body #main #primary .tcmsEventList {
  display: none;
}
/* line 309, ../sass/components/_body.scss */
html body #main #secondary {
  margin-top: 0;
}
/* line 311, ../sass/components/_body.scss */
html body #main #secondary.widget-area {
  width: 34%;
}
/* line 317, ../sass/components/_body.scss */
html body #main #secondary aside h3 {
  color: #000000;
  /*height: 32px;*/
  font-size: 19px;
  padding: 0px 10px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 1.6;
  margin-bottom: 15px;
}
/* line 327, ../sass/components/_body.scss */
html body #main #secondary aside > * {
  padding-left: 10px;
  padding-right: 40px;
}
/* line 340, ../sass/components/_body.scss */
html body #primary a,
html body #secondary a {
  color: #c9252c;
  font-weight: bold;
  text-decoration: none;
}
/* line 350, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events li,
html body #secondary .widget.upcoming-events li {
  float: left;
  margin-bottom: 20px;
}
/* line 354, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events img,
html body #secondary .widget.upcoming-events img {
  width: 92px;
  float: left;
  margin-right: 10px;
}
/* line 359, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events .entry-header,
html body #secondary .widget.upcoming-events .entry-header {
  width: 158px;
  float: left;
  margin: 0;
}
/* line 364, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events .entry-header .entry-title,
html body #secondary .widget.upcoming-events .entry-header .entry-title {
  font-size: 17px;
  font-weight: normal;
  line-height: 0.9;
}
/* line 369, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events .entry-header span,
html body #secondary .widget.upcoming-events .entry-header span {
  font-size: 14px;
  font-weight: bold;
  display: block;
}
/* line 375, ../sass/components/_body.scss */
html body #primary .widget.upcoming-events .button-list,
html body #secondary .widget.upcoming-events .button-list {
  float: right;
}
/* line 382, ../sass/components/_body.scss */
html body #primary .breadcrumbs a {
  color: rgba(0, 0, 0, 0.65);
  font-weight: normal;
}
/* line 388, ../sass/components/_body.scss */
html body #page #main .button-list a.button {
  color: #FFFFFF;
}
/* line 393, ../sass/components/_body.scss */
html body .button-list {
  margin: 2px 0;
  width: 158px;
  float: left;
  line-height: 1;
}
/* line 399, ../sass/components/_body.scss */
html body .button-list .button {
  width: 65px;
  padding: 6px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #c9252c;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 413, ../sass/components/_body.scss */
html body .button-list .button.learn-more {
  background-color: #000;
}
/* line 421, ../sass/components/_body.scss */
html body.single-tcms_production #hero {
  margin-top: 30%;
}
/* line 423, ../sass/components/_body.scss */
html body.single-tcms_production #hero #spacer {
  display: none;
}
/* line 428, ../sass/components/_body.scss */
html body.single-tcms_production #primary .entry-header {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}
/* line 436, ../sass/components/_body.scss */
html body.single-tcms_production #primary .entry-content {
  margin-top: 15px;
  margin-bottom: 50px;
}
/* line 440, ../sass/components/_body.scss */
html body.single-tcms_production #primary .event-list li {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  border-bottom: 2px solid black;
  margin-bottom: 13px;
  padding-bottom: 13px;
}
/* line 450, ../sass/components/_body.scss */
html body.single-tcms_production #primary .event-list li:last-child {
  border-bottom: 0;
}
/* line 453, ../sass/components/_body.scss */
html body.single-tcms_production #primary .event-list li a {
  width: 100px;
  float: right;
  display: inline;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #c60910;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2M2MDkxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NjBhMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c60910 0%, #c60910 50%, #960a0c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c60910), color-stop(50%, #c60910), color-stop(100%, #960a0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c60910 0%, #c60910 50%, #960a0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c60910 0%, #c60910 50%, #960a0c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c60910 0%, #c60910 50%, #960a0c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c60910 0%, #c60910 50%, #960a0c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c60910', endColorstr='#960a0c',GradientType=0 );
  /* IE6-8 */
}
/* line 483, ../sass/components/_body.scss */
html body.archive #main #primary article {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 2px black;
}
/* line 488, ../sass/components/_body.scss */
html body.archive #main #primary article p {
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 494, ../sass/components/_body.scss */
html body.archive #primary .entry-artist, html body.archive #primary .entry-title {
  color: #000000;
}
/* line 497, ../sass/components/_body.scss */
html body.archive #primary .entry-artist {
  font-size: 20px;
  font-weight: bold;
}
/* line 501, ../sass/components/_body.scss */
html body.archive #primary .entry-title {
  font-size: 19px;
  font-style: italic;
}
/* line 505, ../sass/components/_body.scss */
html body.archive #primary img {
  width: 231px;
  float: left;
  margin-right: 10px;
}
/* line 510, ../sass/components/_body.scss */
html body.archive #primary .genre-content-container {
  width: 325px;
  float: left;
}
/* line 514, ../sass/components/_body.scss */
html body.archive #primary header span {
  clear: left;
  display: block;
}
/* line 519, ../sass/components/_body.scss */
html body.archive #primary .button-list {
  clear: both;
  float: right;
}
/* line 527, ../sass/components/_body.scss */
html body .widget-banner {
  /*
   * version of banner in hero, is grouped with hero related styles.
   */
}
/* line 533, ../sass/components/_body.scss */
html body .widget-banner.widget-area {
  margin: 0;
}
@media screen and (min-width: 600px) {
  /* line 527, ../sass/components/_body.scss */
  html body .widget-banner {
    float: left;
    width: 70%;
    bottom: 0;
  }
}
/* line 542, ../sass/components/_body.scss */
html body .widget-banner .widget_wrapper {
  float: left;
  width: 80%;
  /*padding: 0 4%;*/
}
/* line 547, ../sass/components/_body.scss */
html body .widget-banner .widget {
  float: left;
  width: 31%;
  margin-left: 12px;
  position: relative;
}
/* line 553, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(1) {
  width: 100%;
}
/* line 558, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(2) {
  width: 45%;
}
/* line 562, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(2) ~ .widget {
  width: 45%;
}
/* line 567, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(3) {
  width: 31%;
}
/* line 571, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(3) ~ .widget {
  width: 31%;
}
/* line 576, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(4) {
  width: 20%;
}
/* line 580, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(4) ~ .widget {
  width: 20%;
}
/* line 588, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .simple-image, html body .widget-banner .widget.widget_simpleimage .more {
  margin: 0;
}
/* line 591, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .more {
  background-color: #000000;
  text-indent: 11px;
  line-height: 1.6;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 599, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .more a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* line 2, ../sass/components/_footer.scss */
footer[role="contentinfo"] {
  width: 960px;
  color: #fff;
  border: none;
  margin-top: 0;
  padding-bottom: 0;
  /*	@include filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccc, endColorstr=#ffffff);
  /* @include filter-gradient(#cc4f4f, #cc7e7e, vertical); */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(79, 79, 79, 0.87)), color-stop(37%, rgba(126, 126, 126, 0.87)), color-stop(99%, rgba(126, 126, 126, 0.87)), color-stop(100%, rgba(126, 126, 126, 0.87)));
  background-image: -webkit-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: -moz-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: -o-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#393939, endColorstr=#7e7e7e)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  background-color: #7e7e7e;
}
/* line 18, ../sass/components/_footer.scss */
footer[role="contentinfo"] #copyright {
  clear: both;
  font-size: 10px;
  padding: 10px 0 7px;
}
/* line 22, ../sass/components/_footer.scss */
footer[role="contentinfo"] #copyright img {
  float: right;
}
/* line 27, ../sass/components/_footer.scss */
footer[role="contentinfo"] #footer-padding {
  width: 960px;
  background-color: #DAA520;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
}
/* line 35, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container {
  /*float: left;*/
  font-size: 11px;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100px;
  margin-bottom: 10px;
}
/* line 44, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation > .menu-item > a {
  font-weight: bold;
  font-size: 12px;
}
/* line 49, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation a {
  color: #ffffff;
  text-decoration: initial;
}
/* line 52, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation a:hover {
  text-decoration: underline;
  color: #ffffff;
}
/* line 58, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .menu-item {
  float: left;
  margin-right: 20px;
  line-height: 19px;
}
/* line 64, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .sub-menu {
  /*margin-top: -5px;*/
}
/* line 66, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .sub-menu .menu-item {
  float: none;
}
/* line 72, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media {
  display: inline-block;
}
/* line 76, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media #footer-social-media {
  width: 180px;
}
/* line 81, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 89, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(1) {
  background-image: url("../images/footer-instagram_logo.png");
}
/* line 92, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(2) {
  background-image: url("../images/footer-facebook_logo.png");
}
/* line 95, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(3) {
  background-image: url("../images/footer-twitter_logo.png");
}
/* line 98, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(4) {
  background-image: url("../images/footer-youtube_logo.png");
}
/* line 101, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item a {
  width: 32px;
  float: left;
}

/* line 111, ../sass/components/_footer.scss */
#social-media-label {
  /*float: left;*/
  position: absolute;
  top: 40px;
  right: 0;
  margin: auto;
  vertical-align: top;
}

/* line 120, ../sass/components/_footer.scss */
#footer-padding {
  width: 960px;
  background-color: #faa61a;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
}

/** HEADER, FOOTER, BODY LAYOUT **/
/*#container-wrap-wrap{
	width:880px;
}*/
/** Font Styles, Colors, Backgrounds */
/* Backgrounds */
