@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@media screen and (min-width: 960px) {
  /* line 7, ../sass/components/_general.scss */
  body #main,
  header.site-header > *,
  footer .site-info {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  /* line 13, ../sass/components/_general.scss */
  header.site-header > * {
    width: 960px;
  }
}
@media screen and (min-width: 600px) {
  /* line 20, ../sass/components/_general.scss */
  div.site {
    max-width: 100%;
  }

  /* line 24, ../sass/components/_general.scss */
  .site-content {
    float: left;
    width: 66%;
  }

  /*	.main-navigation {
  		li a:hover {
  			color:$atru_gold;
  		}
  	}*/
  /* line 33, ../sass/components/_general.scss */
  body.template-front-page .site-content, body.single-attachment .site-content {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  /* line 38, ../sass/components/_general.scss */
  html body.custom-background {
    background-position: center 100px;
    background-size: 100%;
    background-attachment: scroll;
  }
}
/* line 48, ../sass/components/_general.scss */
body .site {
  background-color: transparent;
  margin-top: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/components/_header.scss */
header.site-header {
  background-color: #fff;
  padding: 0;
}
/* line 5, ../sass/components/_header.scss */
header.site-header .header-image {
  color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  float: left;
}
/* line 14, ../sass/components/_header.scss */
header.site-header .main-navigation {
  margin-top: 0;
}
/* line 17, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu {
  position: relative;
}
/* line 22, ../sass/components/_header.scss */
header.site-header .main-navigation ul li {
  /* Is overridden by 2012's media queries. Actual defitition is in _general.scss */
}
/* line 25, ../sass/components/_header.scss */
header.site-header .main-navigation ul li.current-menu-item > a, header.site-header .main-navigation ul li.current-page-ancestor > a, header.site-header .main-navigation ul li.current_page_ancestor > a {
  color: #faa61a;
}
/* line 29, ../sass/components/_header.scss */
header.site-header .main-navigation ul li a:hover {
  color: #faa61a;
}
/* line 33, ../sass/components/_header.scss */
header.site-header .main-navigation ul li a {
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
/* line 41, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu {
  background-color: #000;
  margin-bottom: 22px;
}
/* line 45, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li {
  position: static;
  margin: 0 0 0 20px;
}
/* line 49, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li > a {
  color: #ffffff;
  line-height: 2.1;
}
/* line 57, ../sass/components/_header.scss */
header.site-header .main-navigation .nav-menu > li.current-menu-item .sub-menu, header.site-header .main-navigation .nav-menu > li.current-page-ancestor .sub-menu, header.site-header .main-navigation .nav-menu > li.current_page_ancestor .sub-menu {
  display: block;
  z-index: 5;
}
/* line 67, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 10;
}
/* line 73, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu li {
  margin-right: 10px;
}
/* line 76, ../sass/components/_header.scss */
header.site-header .main-navigation .sub-menu a {
  background-color: #fff;
  line-height: 1;
  padding: 4px;
  width: auto;
  color: #000;
}
/* line 86, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search {
  float: right;
  margin: 0 15px 0;
}
/* line 90, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form {
  width: 200px;
  height: 8px;
}
/* line 94, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input {
  float: left;
  border-radius: 0;
}
/* line 97, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input.search-field {
  height: 18px;
  margin: 3px 0;
  width: 70%;
  padding: 0;
}
/* line 103, ../sass/components/_header.scss */
header.site-header .main-navigation #nav-search form input.search-submit {
  color: #FFF;
  background: #000;
  padding: 0;
  width: 25px;
  height: 18px;
  margin-top: 3px;
  margin-left: 4px;
  line-height: 0.5;
}
/* line 123, ../sass/components/_header.scss */
header.site-header #header-spacer {
  background-color: #000;
  height: 10px;
}
/* line 128, ../sass/components/_header.scss */
header.site-header #header-right-rail {
  float: right;
}
/* line 130, ../sass/components/_header.scss */
header.site-header #header-right-rail a {
  width: 120px;
  padding: 5px 0px;
  margin-bottom: 12px;
  position: relative;
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 146, ../sass/components/_header.scss */
header.site-header #header-right-rail a:hover {
  color: #000000;
  cursor: pointer;
}
/* line 152, ../sass/components/_header.scss */
header.site-header #header-right-rail .donate {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(250, 145, 26, 0.87)), color-stop(63%, rgba(250, 145, 26, 0.87)), color-stop(100%, rgba(216, 107, 23, 0.87)));
  background-image: -webkit-linear-gradient(top, rgba(250, 145, 26, 0.87) 0%, rgba(250, 145, 26, 0.87) 63%, rgba(216, 107, 23, 0.87) 100%);
  background-image: -moz-linear-gradient(top, rgba(250, 145, 26, 0.87) 0%, rgba(250, 145, 26, 0.87) 63%, rgba(216, 107, 23, 0.87) 100%);
  background-image: -o-linear-gradient(top, rgba(250, 145, 26, 0.87) 0%, rgba(250, 145, 26, 0.87) 63%, rgba(216, 107, 23, 0.87) 100%);
  background-image: linear-gradient(top, rgba(250, 145, 26, 0.87) 0%, rgba(250, 145, 26, 0.87) 63%, rgba(216, 107, 23, 0.87) 100%);
}
/* line 156, ../sass/components/_header.scss */
header.site-header #header-right-rail .buy-tickets a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(198, 9, 16, 0.87)), color-stop(63%, rgba(198, 9, 16, 0.87)), color-stop(100%, rgba(150, 10, 12, 0.87)));
  background-image: -webkit-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: -moz-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: -o-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  height: 50px;
}
/* line 160, ../sass/components/_header.scss */
header.site-header #header-right-rail .buy-tickets a .button-text {
  position: absolute;
  bottom: 11px;
  width: 100%;
  left: 0;
}

/* line 3, ../sass/components/_body.scss */
html body.custom-background {
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}
/* line 11, ../sass/components/_body.scss */
html body.home #hero .entry-header h1 {
  /*position: relative;*/
}
/* line 17, ../sass/components/_body.scss */
html body.page-on-our-stage #primary {
  margin-left: -40px;
  width: 960px;
}
/* line 20, ../sass/components/_body.scss */
html body.page-on-our-stage #primary #content {
  margin-top: 30px;
}
/* line 24, ../sass/components/_body.scss */
html body.page-on-our-stage #primary header h1 {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  width: 33%;
  padding: 10px 0 0;
  text-indent: 40px;
}
/* line 38, ../sass/components/_body.scss */
html body.page-on-our-stage .category {
  float: left;
  width: 100%;
}
/* line 41, ../sass/components/_body.scss */
html body.page-on-our-stage .category article {
  float: left;
  width: 231px;
  margin: 0 12px 10px 0;
}
/* line 46, ../sass/components/_body.scss */
html body.page-on-our-stage .category article:last-child {
  margin-right: 0;
}
/* line 49, ../sass/components/_body.scss */
html body.page-on-our-stage .category article img {
  width: 100%;
  border-radius: 0;
}
/* line 53, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .entry-header {
  height: 40px;
  padding-top: 5px;
  margin-bottom: 0;
}
/* line 57, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .entry-header h2 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
/* line 63, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .button-list {
  /*				margin-left: auto;
  				margin-right: auto;
  				width: 158px;*/
}
/* line 68, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .button {
  /*					width: 63px;
  					padding: 6px;
  					display: inline-block;

  					font-size: 11px;
  					font-weight: bold;
  					text-align: center;

  					color: #FFFFFF;
  					background-color: #000000;
  					text-transform: uppercase;
  					text-decoration: none;*/
}
/* line 82, ../sass/components/_body.scss */
html body.page-on-our-stage .category article .button.learn-more {
  background-color: #000000;
}
/* line 86, ../sass/components/_body.scss */
html body.page-on-our-stage .category article footer.entry-meta {
  margin: -27px 0 0 4px;
}
/* line 94, ../sass/components/_body.scss */
html body #hero {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* line 101, ../sass/components/_body.scss */
html body #hero #spacer {
  height: 32px;
}
/* line 105, ../sass/components/_body.scss */
html body #hero .FA_overall_container_smoke {
  border: none;
}
/* line 109, ../sass/components/_body.scss */
html body #hero .entry-header {
  clear: both;
  margin: 0;
}
/* line 112, ../sass/components/_body.scss */
html body #hero .entry-header h1 {
  width: 66%;
  padding: 1px 40px;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  bottom: 0px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 27px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  /* line 129, ../sass/components/_body.scss */
  html body #hero .widget-banner {
    width: 100%;
    margin-top: 6px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
  }
}
/* line 137, ../sass/components/_body.scss */
html body #hero .widget-banner .widget {
  /*margin-left: 50px;*/
}
/* line 139, ../sass/components/_body.scss */
html body #hero .widget-banner .widget:first-child:nth-last-child(3) {
  width: 25%;
}
/* line 143, ../sass/components/_body.scss */
html body #hero .widget-banner .widget:first-child:nth-last-child(3) ~ .widget {
  width: 25%;
}
/* line 147, ../sass/components/_body.scss */
html body #hero .widget-banner .widget .more a {
  text-transform: none;
}
/* line 152, ../sass/components/_body.scss */
html body #hero > img {
  vertical-align: bottom;
  width: 100%;
  box-shadow: none;
}
/* line 161, ../sass/components/_body.scss */
html body #hero-banner .widget_wrapper {
  width: 100%;
  padding: 0 2%;
}
/* line 168, ../sass/components/_body.scss */
html body #main {
  width: 920px;
  /* EXTRA */
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 0 0 40px;
  position: relative;
}
/* line 175, ../sass/components/_body.scss */
html body #main #spacer {
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 179, ../sass/components/_body.scss */
html body #main #hero #spacer {
  height: 32px;
  background: none;
}
/* line 183, ../sass/components/_body.scss */
html body #main #primary {
  margin-top: 0;
}
/* line 186, ../sass/components/_body.scss */
html body #main #primary #content {
  padding-right: 40px;
}
/* line 188, ../sass/components/_body.scss */
html body #main #primary #content p {
  line-height: 1.35;
}
/* line 191, ../sass/components/_body.scss */
html body #main #primary #content strong {
  font-weight: bold;
}
/* line 194, ../sass/components/_body.scss */
html body #main #primary #content em {
  font-style: italic;
}
/* line 199, ../sass/components/_body.scss */
html body #main #primary #content .entry-content h2 {
  font-weight: bold;
  font-size: 23px;
}
/* line 207, ../sass/components/_body.scss */
html body #main #secondary {
  margin-top: 0;
}
/* line 209, ../sass/components/_body.scss */
html body #main #secondary.widget-area {
  width: 34%;
}
/* line 215, ../sass/components/_body.scss */
html body #main #secondary aside h3 {
  color: #000000;
  font-size: 19px;
  padding: 0px 10px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 1.6;
}
/* line 224, ../sass/components/_body.scss */
html body #main #secondary aside ul, html body #main #secondary aside p, html body #main #secondary aside div {
  margin-left: 10px;
  margin-right: 40px;
}
/* line 234, ../sass/components/_body.scss */
html body #primary a,
html body #secondary a {
  color: #c9252c;
  font-weight: bold;
  text-decoration: none;
}
/* line 243, ../sass/components/_body.scss */
html body .widget.upcoming-events li {
  float: left;
  margin-bottom: 20px;
}
/* line 247, ../sass/components/_body.scss */
html body .widget.upcoming-events img {
  width: 92px;
  float: left;
  margin-right: 10px;
}
/* line 252, ../sass/components/_body.scss */
html body .widget.upcoming-events .entry-header {
  width: 158px;
  float: left;
  margin: 0;
}
/* line 257, ../sass/components/_body.scss */
html body .widget.upcoming-events .entry-header .entry-title {
  font-size: 17px;
  font-weight: normal;
  line-height: 0.9;
}
/* line 262, ../sass/components/_body.scss */
html body .widget.upcoming-events .entry-header span {
  font-size: 14px;
  font-weight: bold;
  display: block;
}
/* line 268, ../sass/components/_body.scss */
html body .widget.upcoming-events .button-list {
  float: left;
  margin: 2px 0;
  line-height: 1;
}
/* line 272, ../sass/components/_body.scss */
html body .widget.upcoming-events .button-list .button {
  color: #FFFFFF;
}
/* line 274, ../sass/components/_body.scss */
html body .widget.upcoming-events .button-list .button.learn-more {
  background-color: #000;
}
/* line 283, ../sass/components/_body.scss */
html body #main #primary #content .button-list a.button {
  color: #FFFFFF;
}
/* line 287, ../sass/components/_body.scss */
html body .button-list {
  margin-left: auto;
  margin-right: auto;
  width: 158px;
}
/* line 292, ../sass/components/_body.scss */
html body .button-list .button {
  width: 65px;
  padding: 6px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-color: #c9252c;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 310, ../sass/components/_body.scss */
html body.single-event #hero {
  margin-top: 30%;
}
/* line 314, ../sass/components/_body.scss */
html body.single-event #primary .event-list li {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  border-bottom: 2px solid black;
  margin-bottom: 13px;
  padding-bottom: 13px;
}
/* line 324, ../sass/components/_body.scss */
html body.single-event #primary .event-list li:last-child {
  border-bottom: 0;
}
/* line 327, ../sass/components/_body.scss */
html body.single-event #primary .event-list li a {
  width: 100px;
  float: right;
  display: inline;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(198, 9, 16, 0.87)), color-stop(63%, rgba(198, 9, 16, 0.87)), color-stop(100%, rgba(150, 10, 12, 0.87)));
  background-image: -webkit-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: -moz-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: -o-linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
  background-image: linear-gradient(top, rgba(198, 9, 16, 0.87) 0%, rgba(198, 9, 16, 0.87) 63%, rgba(150, 10, 12, 0.87) 100%);
}
/* line 346, ../sass/components/_body.scss */
html body .widget-banner {
  /*
   * version of banner in hero, is grouped with hero related styles.
   */
}
/* line 352, ../sass/components/_body.scss */
html body .widget-banner.widget-area {
  margin: 0;
}
@media screen and (min-width: 600px) {
  /* line 346, ../sass/components/_body.scss */
  html body .widget-banner {
    float: left;
    width: 70%;
    position: absolute;
    bottom: 0;
  }
}
/* line 362, ../sass/components/_body.scss */
html body .widget-banner .widget_wrapper {
  float: left;
  width: 80%;
  /*padding: 0 4%;*/
}
/* line 367, ../sass/components/_body.scss */
html body .widget-banner .widget {
  float: left;
  width: 31%;
  margin-left: 12px;
  position: relative;
}
/* line 373, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(1) {
  width: 90%;
}
/* line 378, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(2) {
  width: 45%;
}
/* line 382, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(2) ~ .widget {
  width: 45%;
}
/* line 387, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(3) {
  width: 31%;
}
/* line 391, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(3) ~ .widget {
  width: 31%;
}
/* line 396, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(4) {
  width: 20%;
}
/* line 400, ../sass/components/_body.scss */
html body .widget-banner .widget:first-child:nth-last-child(4) ~ .widget {
  width: 20%;
}
/* line 408, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .simple-image, html body .widget-banner .widget.widget_simpleimage .more {
  margin: 0;
}
/* line 411, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .more {
  background-color: #000000;
  text-indent: 11px;
  line-height: 1.6;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 419, ../sass/components/_body.scss */
html body .widget-banner .widget.widget_simpleimage .more a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

/* line 2, ../sass/components/_footer.scss */
footer[role="contentinfo"] {
  width: 960px;
  color: #fff;
  border: none;
  margin-top: 0;
  padding-bottom: 0;
  /*@include filter-gradient(#cc4f4f4f, #cc7e7e7e, vertical); //IE6-9 */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(79, 79, 79, 0.87)), color-stop(37%, rgba(126, 126, 126, 0.87)), color-stop(99%, rgba(126, 126, 126, 0.87)), color-stop(100%, rgba(126, 126, 126, 0.87)));
  background-image: -webkit-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: -moz-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: -o-linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
  background-image: linear-gradient(top, rgba(79, 79, 79, 0.87) 0%, rgba(126, 126, 126, 0.87) 37%, rgba(126, 126, 126, 0.87) 99%, rgba(126, 126, 126, 0.87) 100%);
}
/* line 12, ../sass/components/_footer.scss */
footer[role="contentinfo"] #copyright {
  clear: both;
  font-size: 10px;
  padding: 10px 0 7px;
}
/* line 18, ../sass/components/_footer.scss */
footer[role="contentinfo"] #footer-padding {
  width: 960px;
  background-color: #DAA520;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
}
/* line 26, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container {
  /*float: left;*/
  font-size: 11px;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100px;
  margin-bottom: 10px;
}
/* line 35, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation > .menu-item > a {
  font-weight: bold;
  font-size: 12px;
}
/* line 40, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation a {
  color: #ffffff;
  text-decoration: initial;
}
/* line 43, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation a:hover {
  text-decoration: underline;
  color: #ffffff;
}
/* line 49, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .menu-item {
  float: left;
  margin-right: 20px;
  line-height: 19px;
}
/* line 55, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .sub-menu {
  /*margin-top: -5px;*/
}
/* line 57, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-nav-container #footer-navigation .sub-menu .menu-item {
  float: none;
}
/* line 63, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media {
  display: inline-block;
}
/* line 67, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media #footer-social-media {
  width: 180px;
}
/* line 72, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 80, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(1) {
  background-image: url("../images/footer-instagram_logo.png");
}
/* line 83, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(2) {
  background-image: url("../images/footer-facebook_logo.png");
}
/* line 86, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(3) {
  background-image: url("../images/footer-twitter_logo.png");
}
/* line 89, ../sass/components/_footer.scss */
footer[role="contentinfo"] .menu-footer-social-media .menu-item:nth-child(4) {
  background-image: url("../images/footer-youtube_logo.png");
}

/* line 98, ../sass/components/_footer.scss */
#social-media-label {
  /*float: left;*/
  position: absolute;
  top: 40px;
  right: 0;
  margin: auto;
  vertical-align: top;
}

/* line 107, ../sass/components/_footer.scss */
#footer-padding {
  width: 960px;
  background-color: #faa61a;
  margin-left: auto;
  margin-right: auto;
  height: 12px;
}

/** HEADER, FOOTER, BODY LAYOUT **/
/*#container-wrap-wrap{
	width:880px;
}*/
/** Font Styles, Colors, Backgrounds */
/* Backgrounds */
